body {
  margin: 0;
}
* {
  font-family: "Montserrat", sans-serif;
}

:root{
  --primary-color: #23a6f0;
  --secondary-color:#252b42;
  --tertiary-color:#737373;
  --text-color: #fff;
  --section-bg-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
a {
  margin: 0;
  padding: 0;
}

/*<-----Header-------->*/
.header-section {
  background-color: var(--section-bg-color);
}

.container {
  padding: 10px;
  width: 1050px;
  margin: auto;
}

.order{
  display: flex;
  flex-direction: column;
  gap: 115px;
}

.main-container {
  padding: 10px;
  max-width: 1046px;
  margin: auto;
}

.brand-name{
  align-content:center ;
}

.brand-name h3{
  color: var(--secondary-color);
}

.nav-tags{
  display: flex;
  list-style: none;
  gap: 21px;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.nav-content {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  align-content: center;
}

.auth {
  display: flex;
  gap: 45px;
}

.auth a{
  color: var(--primary-color);
}

a {
  color:var(--tertiary-color);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  align-content: center;
}

.btn{
  background-color:var(--primary-color);
  font-size: 14px;
  color:var(--text-color);
  display: flex;
  border: transparent;
  justify-content: center;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  align-items: center;
  display: flex;
  gap: 15px;
}

.large-btn{
  padding: 15px 40px 15px 40px;
}

.section-content{
  padding: 150px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

/*<---------Hero------>*/
.hero-section {
  background: #b2e3ff;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
}

.hero-font-small {
  max-width: 370px;
}

.hero-font-small h4 {
  font-size: 20px;
  font-weight: 550;
  color: var(--tertiary-color);
}

.large-btn {
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
}

.btn-tp {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 700;
}
.btn-curvey{
  gap: 10px;
  border-radius: 37px;
  max-width: 144px;
  padding: 13px 20px 13px 20px;
}

.main-buttons {
  max-width: 370px;
  display: flex;
  justify-content: space-between;
}

.purpose{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--primary-color);
}

.hero-heading h1{
  color: var(--secondary-color);
}

.hero-contents {
  display: flex;
  align-items: center;
}

/*<----- study-material------>*/
.cards {
  padding: 35px 40px 35px 40px;
  background:#fff;
  box-shadow: 0px 13px 19px 0px #00000012;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-section{
  padding: 50px 0px 0px 0px;
}

.cards h5{
  color:var(--secondary-color) ;
}
.study-material-icons {
  max-width: 35px;
  padding: 26px 19px 26px 19px;
  border-radius: 10px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.study-icons {
  font-size: 26px;
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
}

p {
  font-size: 15px;
  color:var(--tertiary-color);
  font-weight: 500;
}

hr {
  max-width: 50px;
  background: #e74040;
  padding: 1px;
  border: transparent;
}

.study-material {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  max-width: 1046px;
}

/*<-------Articles------>*/
h2 {
  font-size: 41px;
  font-weight: 700;
  color: var(--secondary-color);
}

.article-font {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.article-font a{
  color: var(--primary-color);
}

.article-hr {
  background: #e74040;
  max-width: 96px;
}

.article-hr hr {
  padding: 2px;
  color: #e74040;
  max-width: 96px;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*<------sectors------>*/
h6 {
  font-size: 14px;
  font-weight: 700;
}

.section-point {
  max-width: 725px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-point h6{
    color: var(--primary-color);
}

.sector-image-btn {
  padding: 11px 11px;
  background-color:#fff;
  border-radius: 50%;
  border: transparent;
}

.sector-content {
  position: relative;
}   

.sector-content a{
  color: #fff;
}

.sale {
  position: absolute;
  top: 0;
  top: 20px;
  left: 20px;
  border-radius: 3px;
  background: #e74040;
  padding: 3px 10px 3px 10px;
  max-width: 150px;
}

.sector-image-icons {
  position: absolute;
  display: flex;
  top: 236px;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.sector-icon-type{
  color: var(--secondary-color);
  font-size: 20px;
}

.sector-tags a {
  color:var(--primary-color);
}

.sector-language-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sector-rate h6 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

.sector-rate {
  display: flex;
  background: #252b42;
  padding: 5px 5px;
  gap:7px;
  border-radius: 20px;
  align-items: center;
}

.sector-tags {
  max-width: 232px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px 25px 35px 25px;
  gap: 10px;
}

.sector-rate-star {
  color: #ffce31;
  font-size: 12px;
}

.sector-course h5 {
  color:var(--secondary-color);
}

.sector-sales-range {
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.sector-sales-icon {
  color:var(--tertiary-color);
}

.sector-tags-prices {
  display: flex;
  gap: 5px;
}

.sector-tags-price-front {
  color: #bdbdbd;
}

.sector-tags-price-back {
  color: #40bb15;
}

.clock {
  color: var(--primary-color);
  font-size: 12px;
}

.sector-tags-total {
  display: flex;
  max-width: 182px;
  gap: 5px;
  color: #737373;
  padding: 13px 0px 9px 0px;
}

.sector-tags-content {
  align-items: center;
  display: flex;
  gap: 5px;
}

.sector-tags-content h6 {
  font-size: 12px;
}

.area-smooth {
  color: #e77c40;
  font-size: 12px;
}


.fa-chevron-right {
  color: #23a6f0;
}

.sectors {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.sector-tags {
  padding: 25px 25px 25px 25px;
  gap: 15px;
}

/*<-----services----->*/
.service-shape {
  max-width: 30px;
  border-radius: 50%;
  background: #40bb15;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.service-shape-icon {
  color: #fff;
  font-size: 30px;
}

.services h3 {
  color:var(--secondary-color);
}

.service-mention {
  color: var(--tertiary-color);
  max-width: 200px;
}

.price-tag h6 {
  color: #8ec2f2;
}

.price-tag h2{
  color:var(--primary-color);
}

.update-contents h6 {
  color:var(--secondary-color);
}

.active{
 background-color: #23a6f0;
}

.non-active{
  background: #BDBDBD;
}

.update-icons {
  font-size: 18px;
  border-radius: 50px;
  padding: 7px 10px;
  color: #fff;
}

.update-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.update-contents {
  display: flex;
  align-items: center;
  gap: 10px;
}

.services {
  display: flex;
  gap: 30px;
}

.services-area p {
  max-width: 200px;
}

.service-updates {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
}

.services-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 328px;
  padding: 50px 40px 50px 40px;
  box-shadow: 0px 13px 19px 0px #00000012;
  position: relative;
}

.services-area h3{
  color:var(--secondary-color);
}

.card-label {
  max-width: 25px;
  border-radius: 50%;
  background: #e77c40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: -30px;
  right: -15px;
}

.card-label h3 {
  font-size: 20px;
  font-weight: 700;
  color:#fff;
}

/*<----reviewers---->*/

.reviewers {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}

.review-rating {
  color: #f3cd03;
  gap: 5px;
}

.review-section h6 {
  color:var(--tertiary-color);
}

.review-section h5{
  color:var(--secondary-color);
}

.review-content {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 25px 25px 0px 25px;
}

.reviewer-image {
  max-width: 128px;
  border-radius: 200px;
}

.review-font p {
  max-width: 320px;
}

.review-font {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 458px;
}

.review-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/*<----footer----->*/
.section-end {
  background: #ffdcd1;
}

.top-section {
  padding: 100px 0px;
}

.last-page-advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.last-page-advice h2{
  color: #252b42;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.center-content p {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.input-box{
  max-width: 700px;
  width: 100%;
}

.input{
  display: flex;
}

.input-content {
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  color: var(--tertiary-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
input:focus{
  outline: none;
}
.half-radius-btn {
  border-radius: 0px 5px 5px 0px;
  align-items: center;
}

.media-icon {
  gap: 20px;
  display: flex;
}

.media-icon a {
  font-size: 25px;
  color: var(--primary-color);
}

.footer-main-item {
 display: flex;
 flex-direction: column;
  gap: 25px;
}

.footer-main-item h3{
  color:var(--secondary-color);
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-item h3{
  color: #252b42;
}

.footer-item-short{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-item-short h3{
  color: var(--secondary-color);
}

.footer-item-contents ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.full-footer-items{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
}

.bottom-section {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: var(--tertiary-color);
}
