body {
  margin: 0;
}
* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #23a6f0;
  --secondary-color: #252b42;
  --tertiary-color: #737373;
  --text-color: #fff;
  --section-bg-color: #fff;
  --rating-color:#ffce31;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  align-content: center;
}

h1,h2,h3,h4,h5,h6,p,hr,a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*<-----Header-------->*/
.header-section {
  background-color: var(--section-bg-color);
}

.container {
  padding: 0px 10px 0px 10px;
  max-width: 1050px;
  margin: auto;
}

.order {
  display:grid;
  gap: 115px;
}

.main-container {
  padding: 0px 10px 0px 10px;
  max-width: 1046px;
  margin: auto;
}

.brand-name {
  align-content: center;
}

.brand-name h3 {
  color: var(--secondary-color);
  padding: 0px 0px 0px 20px;
  font-size:28px;
}

.nav-items{
  display: flex;
  align-items: center;
  padding:  15px 15px 15px 25px;
  gap: 20px;
}

/*<---hover-items--->*/

.hover-icon{
  position: relative;
}

.product-items{
  position:absolute;
  visibility: hidden;
  opacity: 0;
  transition:0.1s all ease-in-out;
  background-color:var(--primary-color);
  width: 130px;
}

.pd-itm{
  color: var(--text-color);
  padding: 10px 20px 10px 25px ;
  display: block;
  transition: 0.1s ease-in-out;
}

.product-items:hover{
  visibility: visible;
  opacity: 1;
}

.nv-itm:hover {
  color:var(--primary-color);
}

.hover-icon:hover + .product-items{
  visibility: visible;
  opacity: 1;
}

.pd-itm:hover{
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

.hov-pd-itm:hover + .sub-product-items{
  visibility: visible;
  opacity: 1;
}

.sub-product-items{
  position: absolute;
  left: 120px;
  top: 40px;
  background-color: var(--section-bg-color);
  width: 120px;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.sub-product-items:hover{
  visibility: visible;
  opacity: 1;
}

.sub-pd-itm{
  padding: 10px 20px 10px 20px ;
  color: var(--primary-color);
  display: flex;
}

.sub-pd-itm:hover{
  background-color:var(--primary-color);
  color: var(--text-color);
  transition: 0.1s all ease-in-out;
}

/*<---hover items----->*/

/*<----hamburger---->*/

/* first-hamburger */

.hamburger-box{
  position: relative;
  width: 20px;
  bottom: 10px;
  left: 10px;
  display: none;
}

#ham {
  display: none;
}

.hamburger {
  position: absolute;
}

#ham:checked + .hamburger .ham-atv{
  display: none;
}

#ham:checked + .hamburger .ham-n-atv{
  display: block;
  color: #40bb15;
}

.hamburger .ham-n-atv{
  display: none;
}

#ham:checked + .ham-atv{
  display: none;
}

#ham:checked + .ham-n-atv{
  display: block;
  color: #40bb15;
}

.ham-n-atv{
  display: none;
}

.ham-atv{
  color:var(--primary-color);
}

.ham-icn-size{
  font-size: 20px;
}

.ham-items{
  display: none;
  position: absolute;
  top: 50px;
  left:-20px;
  background:var(--secondary-color);
}

.ham-items li {
  padding: 30px 15px 30px 20px;
}

.ham-items li a {
  color: var(--text-color);
  font-size: 20px;
  font-weight:700;
  display: flex;
}

#ham:checked + .hamburger {
  display: block;
}

#ham:checked ~ .ham-items{
  display: block;
}

/* first-hamburger */

/* second-hamburger */

.ham-lab{
  color: var(--text-color);
  font-size: 20px;
  display: flex;
  font-weight: 700;
  gap: 200px;
}

#sub-ham {
  display: none;
}

.sub-ham-items {
  display: none;
  padding: 20px 0px 0px 0px;
}

.sub-ham-items li {
  padding: 20px 20px;
}

.sub-ham-items li a {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
}

#sub-ham:checked + label {
  display: block;
  color: var(--tertiary-color);
  font-size: 20px;
  display: flex;
  font-weight: 700;
  gap: 200px;
}

#sub-ham:checked ~ .sub-ham-items{
  display: block;
}
 

/* second-hamburger */

/* third-hamburger */

.sub-ham-lab{
  color: var(--text-color);
  font-size: 20px;
  display: flex;
  font-weight: 700;
  gap: 150px;
}

#sub-sub-ham {
  display: none;
}

.sub-sub-ham-items {
  display: none;
  padding: 20px 0px 0px 0px;
}

.sub-sub-ham-items li {
  padding: 20px 20px;
}

.sub-sub-ham-items li a {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
}

#sub-sub-ham:checked + label {
  display: block;
  color: var(--tertiary-color);
  font-size: 20px;
  display: flex;
  font-weight: 700;
  gap: 150px;
}

#sub-sub-ham:checked ~ .sub-sub-ham-items{
  display: block;
}
 
/* third-hamburger */

/*<----hamburger---->*/

.nv-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth {
  display: flex;
  gap: 45px;
}

.auth a {
  color: var(--primary-color);
}

a {
  color: var(--tertiary-color);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  align-content: center;
}

.bfr-btn {
  position: relative;
}

.bfr-btn::after {
  position: absolute;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  right: 25px;
}

.btn {
  background-color: var(--primary-color);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: transparent;
  font-weight: 700;
  border-radius: 5px;
  padding: 18px 40px 18px 25px;
}

.btn-wt-background{
  background-color: var(--section-bg-color);
  color: var(--primary-color);
  padding: 0px;
}

.large-btn {
  padding: 15px 40px 15px 40px;
}

.section-content {
  padding: 150px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.ham-btn{
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  width: 100%;
  border-radius: 0px;
}

/*<---------Hero------>*/
.hero-section {
  background: #b2e3ff;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
}

.hero-font {
  max-width: 370px;
}

.hero-font h4 {
  font-size: 20px;
  font-weight: 550;
  color: var(--tertiary-color);
}

.large-btn {
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
}

.btn-tp {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 700;
}
.btn-curvey {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 37px;
  max-width: 145px;
  padding: 13px 20px 13px 20px;
}

.main-buttons {
  display: flex;
  gap: 30px;
}

.purpose {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--primary-color);
}

.hero-heading h1 {
  color: var(--secondary-color);
}

.hero-contents {
  display: flex;
  align-items: center;
}

/*<----- study-material------>*/
.cards {
  padding: 35px 40px 35px 40px;
  background:var(--section-bg-color);
  box-shadow: 0px 13px 19px 0px #00000012;
  display: grid;
  gap: 20px;
}

.cards:hover{
  background-color: #fafafa;
}

.cards-section {
  padding: 50px 0px 0px 0px;
}

.cards h5 {
  color: var(--secondary-color);
}
.study-material-icons {
  max-width: 35px;
  padding: 26px 19px 26px 19px;
  border-radius: 10px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.study-icons {
  font-size: 26px;
  color:var(--text-color);
  align-items: center;
  display: flex;
  justify-content: center;
}

p {
  font-size: 15px;
  color: var(--tertiary-color);
  font-weight: 500;
}

hr {
  max-width: 50px;
  background: #e74040;
  height: 2px;
  border: transparent;
}

.study-material {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1046px;
}

/*<-------Articles------>*/
h2 {
  font-size: 41px;
  font-weight: 700;
  color: var(--secondary-color);
}

.article-font {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
}

.article-font a {
  color: var(--primary-color);
}

 .article-font h2::before{
  content: " ";
  height: 10px;
  width: 100px;
  background-color: red;
  display: flex; 
  margin: 0px 0px 40px 0px;     
}

.articles {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

/*<------sectors------>*/
h6 {
  font-size: 14px;
  font-weight: 700;
}
.sector-content:hover{
  background-color:#fafafa;
}

.section-heading {
  max-width: 725px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-heading h6 {
  color: var(--primary-color);
}

.img-btn {
  padding: 11px 11px;
  background-color: var(--section-bg-color);
  border-radius: 50%;
  border: transparent;
}

.img-icn{
  position: relative;
  max-width: 240px;
}

.sector-content a {
  color: var(--text-color);
}

.sale {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 3px;
  background: #e74040;
  padding: 3px 10px 3px 10px;
  max-width: 150px;
}

.sector-image-icons {
  position: absolute;
  display: flex;
  bottom: 30px;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.sector-icon-type {
  color: var(--secondary-color);
  font-size: 20px;
}

.sector-tags a {
  color: var(--primary-color);
}

.sector-language-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sector-rate h6 {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
}

.sector-rate {
  display: flex;
  background:var(--secondary-color);
  padding: 5px 5px;
  gap: 7px;
  border-radius: 20px;
  align-items: center;
}

.sector-tags {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px 25px 35px 25px;
  gap: 10px;
}

.sector-rate-star {
  color: var(--rating-color);
  font-size: 12px;
}

.sector-course h5 {
  color: var(--secondary-color);
}

.sector-sales-range {
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.sector-sales-icon {
  color: var(--tertiary-color);
}

.sector-tags-prices {
  display: flex;
  gap: 5px;
}

.sector-tags-price-front {
  color: #bdbdbd;
}

.sector-tags-price-back {
  color: #40bb15;
}

.clock {
  color: var(--primary-color);
  font-size: 12px;
}

.sector-tags-total {
  display: flex;
  max-width: 182px;
  gap: 5px;
  color:var(--tertiary-color);
  padding: 13px 0px 9px 0px;
}

.sector-tags-content {
  align-items: center;
  display: flex;
  gap: 5px;
}

.sector-tags-content h6 {
  font-size: 12px;
}

.area-smooth {
  color: #e77c40;
  font-size: 12px;
}

.fa-chevron-right {
  color:var(--primary-color);
}

.sectors {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
}

.sector-tags {
  padding: 25px 25px 25px 25px;
  gap: 15px;
}

/*<-----offer box----->*/
.ofr-shape {
  max-width: 30px;
  border-radius: 50%;
  background: #40bb15;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.ofr-area:hover{
  background-color:#fafafa;
}
.ofr-shape-icon {
  color:var(--text-color);
  font-size: 30px;
}

.offer-box h3 {
  color: var(--secondary-color);
}

.ofr-mention {
  color: var(--tertiary-color);
  max-width: 200px;
}

.price-tag h6 {
  color: #8ec2f2;
}

.price-tag h2 {
  color: var(--primary-color);
}

.update-contents h6 {
  color: var(--secondary-color);
}

.active {
  background-color: var(--primary-color);
}

.non-active {
  background: #bdbdbd;
}

.upd-btn {
  font-size: 18px;
  border-radius: 50px;
  border:none;
  padding: 7px 10px;
  color: var(--text-color);
}

.update-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.update-contents {
  display: flex;
  align-items: center;
  gap: 10px;
}

.offer-box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.ofr-area p {
  max-width: 200px;
}

.ofr-updates {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
}

.ofr-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 40px 50px 40px;
  box-shadow: 0px 13px 19px 0px #00000012;
  position: relative;
}

.ofr-area h3 {
  color: var(--secondary-color);
}

.card-label {
  max-width: 25px;
  border-radius: 50%;
  background: #e77c40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: -30px;
  right: -15px;
}

.card-label h3 {
  font-size: 20px;
  font-weight: 700;
  color:var(--text-color);
}

/*<----review---->*/

.review-detail {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}

.review-rating {
  display: flex;
  justify-content: center;
  color: var(--rating-color);
  font-size: 18px;
  gap: 8px;
}

.review-section h6 {
  color: var(--tertiary-color);
}

.review-section h5 {
  color: var(--secondary-color);
}

.review-content {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 25px 0px 25px;
}

.review-image {
  max-width: 128px;
  border-radius: 200px;
}

.review-font p {
  max-width: 320px;
}

.review-font {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 458px;
}

.review-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*<----footer----->*/
.section-end {
  background: #ffdcd1;
}

.top-section {
  padding: 100px 0px;
}

.last-page-advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.center-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.center-heading p {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.input-box {
  max-width: 700px;
  width: 100%;
}

.input {
  display: flex;
}

.input-content {
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  color: var(--tertiary-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

input:focus {
  outline: none;
}

.half-radius-btn {
  border-radius: 0px 5px 5px 0px;
  padding: 17px 25px 17px 25px;
}

.media-icon {
  gap: 20px;
  display: flex;
}

.media-icon a {
  font-size: 25px;
  color: var(--primary-color);
}

.footer-main-item {
  display: grid;
  flex-direction: column;
  gap: 25px;
}

.footer-main-item h3 {
  color: var(--secondary-color);
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-item h3 {
  color: var(--secondary-color);
}

.footer-item-short {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-item-short h3 {
  color: var(--secondary-color);
}

.footer-item-contents ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.total-footer-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.bottom-section {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: var(--tertiary-color);
}